*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    font-family: "PT Sans", sans-serif;
}

header {
    background-color: rgb(165, 179, 180);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer {
    background-color: rgb(116, 116, 122);
    padding: 30px 20px;
    text-align: center;
}

#about {
    background-color: rgb(132, 141, 140) ;
    padding: 20px;
    text-align: center;
}

#articles {
    background-color: rgb(106, 112, 112);
    padding: 20px;
    text-align: left;
}

P {
    text-align: left;
}

p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

li {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

dt {
    text-align: center;
}

dd {
    text-align: center;
}