*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    font-family: "PT Sans", sans-serif;
}

header {
    background-color: rgb(156, 156, 156);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer {
    background-color: rgb(121, 119, 119);
    padding: 100px 100px;
    text-align: center;
}

#about {
    background-color: rgb(109, 103, 103);
    padding: 20px;
    text-align: center;
}

#img {
    background-color: rgb(80, 79, 79);
    padding: 3px;
}

#articles {
    background-color: rgb(109, 109, 109);
    padding: 20px;
    text-align: center;
}

#Biography {
    background-color: rgb(163, 163, 163);
    text-align: center;
}

#Achiviements {
    background-color: rgb(126, 125, 125);
    text-align: center;
    padding: 20px;
    list-style: none;
    gap: 30px;
}

#Facts

P {
    text-align: center;
}

p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 0.9rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

li {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

dt {
    text-align: center;
}

dd {
    text-align: center;
}

center {
    padding: 20px;
    font-size: 2em;
}